<div class="container">
  <div id="mainDiv" class="columns is-centered">
    <div class="box column is-half">
      <h1 class="title has-text-centered">
        Convert Gregorian date to Solar date
      </h1>
      <div class="field">
        <label> Gregorian Date </label><br />
        <input type="date" class="input" (input)="date = $any($event.target).value" />
      </div>
      <div class="columns is-centered is-tablet is-mobile">
        <div class="box column m-4">
          <label class="columns is-centered mt-1 is-tablet is-mobile" style="font-weight: bolder; font-size: x-large">
            Solar Date
          </label>
          <div class="columns is-tablet is-mobile">
            <div class="column is-three-fifths is-offset-one-fifth mb-4"
              style="border: 2px solid rgb(0, 0, 0); border-radius: 4px">
              <p style="text-align: center; font-weight: 500; font-size: large">
                {{ date | solarDate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>